<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
                    Nhà hàng
                </h4>
                <a class="btn btn-link" href="">Về chúng tôi</a>
                <!-- <a class="btn btn-link" href="">Liên hệ chúng tôi</a>
                <a class="btn btn-link" href="">Đặt bàn</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Đầu bếp của chúng tôi</a> -->
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
                    Liên hệ
                </h4>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt me-3"></i>Phường Tây Thạnh, Quận Tân Phú, TP.HCM
                </p>
                <p class="mb-2">
                    <i class="fa fa-phone-alt me-3"></i>+0950 0080 080
                </p>
                <p class="mb-2">
                    <i class="fa fa-envelope me-3"></i>0950080080@sv.hcmunre.edu.vn
                </p>
                <!-- <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div> -->
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
                    Mở cửa
                </h4>
                <h5 class="text-light fw-normal">Thứ hai- Chủ nhật</h5>
                <p>8 giờ sáng - 10 giờ tối</p>
                <h5 class="text-light fw-normal">Chủ nhật</h5>
                <p>8 giờ sáng - 12 giờ tối</p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
            </div>
        </div>
    </div>
</div>

<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="bi bi-arrow-up"></i>
</a>