<nav class="navbar navbar-expand-xl navbar-dark d-flex align-items-center sticky-top shadow-sm px-4 px-lg-5 py-3 py-lg-0">
    <a href="/" class="navbar-brand p-0">
        <h1 class="m-0">
            <i class="fa fa-utensils me-3"></i>Restoran
        </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto py-0 px-4 align-items-xl-center position-relative">
            <li class="nav-item py-1">
                <div id="search-bar" class="search-bar col d-flex" style="height: min-content">
                    <label for="search-input" class="d-none"></label>
                    <input style="max-width: 400px" type="text" class="form-control me-2 py-2" id="search-input"
                           placeholder="Tìm kiếm...">
                    <button class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div id="search-container" class="position-absolute w-100 left-0 d-none px-3 bg-white top-100 shadow"
                     style="height: auto; min-height: 100px; max-width: 400px; z-index: 100">
                    <div class="h-100 w-100">
                        <p class="d-block w-100 py-2 text-center">
                            Nhập tên món cần tìm
                        </p>
                    </div>
                </div>
            </li>
            <li class="nav-item py-1">
                <a class="px-2 text-uppercase" href="/">Trang chủ</a>
            </li>
            <li class="nav-item py-1">
                <a class="px-2 text-uppercase" href="/">Blog</a>
            </li>
            <%  if (session && Object.keys(session).length > 0) { %>
                <li class="nav-item py-1">
                    <a class="px-2 text-uppercase" href="/">
                        <i class="fas fa-shopping-cart me-1"></i><span>(0) Giỏ hàng</span>
                    </a>
                </li>
                <li class="nav-item py-1">
                    <a class="px-2 text-uppercase" href="/">Đơn hàng</a>
                </li>
                <li class="nav-item py-1">
                    <a class="px-2 text-uppercase" href="/">Đặt bàn</a>
                </li>
                <li class="nav-item py-1">
                    <a class="px-2" href="/thong-tin-nguoi-dung">Chào <%= session.username %></a>
                </li>
                <li class="nav-item py-1">
                    <a class="px-2 text-uppercase mr-2" href="/logout">
                        <i class="fa fa-user me-1" aria-hidden="true"></i>
                        <span>Đăng xuất</span>
                    </a>
                </li>
            <%  } else { %>
                <li class="nav-item py-1">
                    <a class="px-2 text-uppercase mr-2" href="/login">
                        <i class="fa fa-user me-1" aria-hidden="true"></i>
                        <span>Đăng nhập</span>
                    </a>
                </li>
            <%  } %>
        </ul>
    </div>
</nav>